{% extends "base.html" %}

{% block title %}
    {% if edit %}
        Edit Company
    {% else %}
        Add Company
    {% endif %}
{% endblock %}

{% block content %}
    <h2 class="head_of_page">
        {% if edit %}
            Edit Company
        {% else %}
            Add Company
        {% endif %}
    </h2>
    <!-- Add/Edit Company Form -->
    <div class="container mt-5">
        <form action="{% if edit %}{{ url_for('edit_company', company_id=company.brand_id) }}{% else %}{{ url_for('add_company') }}{% endif %}" method="post" enctype="multipart/form-data">
            <div class="form-group">
                <label for="company_name">Company Name</label>
                <input type="text" class="form-control" id="company_name" name="company_name" value="{{ company.name if edit else '' }}" required>
            </div>
            <div class="form-group">
                <label for="description">Description</label>
                <textarea class="form-control" id="description" name="description" rows="4" required>{{ company.description if edit else '' }}</textarea>
            </div>
            <div class="form-group">
                <label for="image">Image</label>
                <input type="file" class="form-control-file" id="image" name="image" {% if not edit %}required{% endif %}>
            </div>
            <button type="submit" class="btn btn-primary">
                {% if edit %}
                    Update Company
                {% else %}
                    Add Company
                {% endif %}
            </button>
        </form>
    </div>
{% endblock %}